// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//App background
.content-ios, .content-md {
    background: #FFC107;
}


.logo {
    background: url("../assets/imgs/name.svg") center center no-repeat;
    background-size: contain;
    width: auto;
    height: 150px;
    margin: 20px auto;
}

//Menu button
.toggle-button {
    position: absolute;
    top: 26px;
    left: 6px;
    display: block;
    cursor: pointer;
    outline: none !important;

    &:active, &:focus {
        background: transparent;
    }

    .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background: #9c3f00;
    }

    .button-inner {
        display: block;
    }
}
.icon-bar + .icon-bar {
    margin-top: 4px;
}


.button-ios {
    background: transparent;
}
.ion-ios-menu:before {
    color: #000;
}

.contacts {
    color: #b64900;

    h1 {
        font-size: 18px;
    }
}