// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//App background
.content-ios, .content-md {
    background: #FFC107;
}


.logo {
    background: url("../assets/imgs/name.svg") center center no-repeat;
    background-size: contain;
    width: auto;
    height: 150px;
    margin: 20px auto;
}

//Menu button
.toggle-button {
    position: absolute;
    top: 20px;
    left: 10px;
    display: block;
    cursor: pointer;
    outline: none !important;
    width: 50px;
    padding: 10px;
    background: transparent;
    transition: 0.3s all;

    img {
        width: 100%;
        height: auto;
    }

    &:active, &:focus {
        background: transparent;
    }
}


.button-ios, .button-md{
    background: transparent;
    box-shadow: none;

    &.activated {
        box-shadow: none;
    }
}
.ion-ios-menu:before {
    color: #000;
}

.contacts {
    color: #b64900;

    h1 {
        font-size: 18px;
    }
}